<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.graymata.kitftmobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KITFT 2014</name>
    <description>
        Kitft Registrations
    </description>
    <author email="donald@graymata.com" href="">
        GrayMata
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <icon src="www/res/ios/icon.png" />
    <access origin="*">
</widget>
